@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --bg-color: #0AA1DD;
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #E8F9FD;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    margin: 20px;
    padding: 10px;
}

.btn-jogar {
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    margin-top: 20px;
    opacity: 0.9;
    padding: 8px 15px;
}

.btn-jogar:active {
    border: 1px solid var(--bg-color);
    background: var(--primary-color);
    color: var(--bg-color);
}
.btn-jogar:hover {
    opacity: 1;
}