//cores
$bg-color: #0AA1DD;
$primary-color: #E8F9FD;

//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
$font-family: 'Montserrat', sans-serif;

//reset
@mixin reset {
    margin: 0;
    padding: 0;
}

//font tamanho
@mixin font($tamanho-fonte) {
    font-size: $tamanho-fonte;
}

//borda
@mixin borda($cor-borda) {
    border: 1px solid $cor-borda;
}

body {
    @include reset;
    display: flex;
    align-items: center;
    max-height: 100vh;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font-family;
    margin-top: 2rem;
    color: $primary-color;
    background-color: $bg-color;
    h1 {
        @include font(4rem);
    }
    h2 {
        @include font(2.5rem);
    }
    h3 {
        @include font(2rem);
        margin-top: 1rem;
    }
    .mensagem {
        @include font(1rem);
        margin-top: 2rem;
        .box {
            @include borda($primary-color);
            display: inline-block;
            @include font(3.7rem);
            margin: 20px;
            padding: 10px;
        }
        
    }
    .btn-jogar {
        background: $bg-color;
        @include borda($primary-color);
        border-radius: 7px;
        color: $primary-color;
        margin-top: 20px;
        opacity: 0.9;
        padding: 8px 15px;
    }
    :active {
        @include borda($bg-color);
        background: $primary-color;
        color: $bg-color;
    }
    :hover {
        opacity: 1;
    }
    
}